<h2>Q <em>YOUR</em> music!</h2>
<% unless signed_in? %>
	<%= image_tag 'music_note.png' %>
<% else %>
<div class='col-md-6'>
	<br>
	<%= form_tag("/", method: "get") do %>
		<div class="form-group">
  			<%= label_tag(:title, "Find a tune... (by title or artist)", ) %>
  			<%= text_field_tag(:title, "", class: "form-control") %>
  			<%= submit_tag("Search", class: "btn btn-primary") %>
  		</div>
	<% end %>
	<h4>Search Results...  (click song to Q it!)</h4>
	<ul>
	  <% unless @search_result_list.empty? %>
	  	<% @search_result_list.each do |s| %>
  			<li><a href='/player/<%= s[:video_id] %>'><%= s[:title] %></a></li>
	  	<% end %>
	  <% end %>
	</ul>
</div>
<div class='col-md-6'>
	<div class='col-md-3'>
		<h3>My Q!</h3>
	</div>
	<div class='col-md-3'>
		<br>
    	<a class="btn btn-info" href="/">Update Status</a>
	</div>	
	<div class='col-md-12'>
    	<table class='table table-striped'>
			<tr>
				<th>Title</th>
				<th>Status</th>
			</tr>
   			<% @current_user.songs.each do |song| %>
      			<tr>
        			<td><%= song.title %></td>
	        		<td><%= song.status %></td>
    	  		</tr>  
    		<% end %>
    	</table>
    </div>
</div>
<% end %>

<script type="text/javascript" language="JavaScript">
document.getElementById('title').focus();
</script>