<h2>Now Playing...</h2>
<%= form_tag("/play_next", method: "post") do %>
	<fieldset disabled>
		<div class="form-group">
			<%= text_field_tag(:now_playing, "", class: "form-control") %>
		</div>
	</fieldset>
	<%= submit_tag("Play Next Song", class: "btn btn-lg btn-success") %>
<% end %>

<br>
<h3>MusiQ!</h3>
<div class='col-md-6'>
   	<table class='table table-striped'>
		<tr>
			<th>Title</th>
			<th>Submitted @</th>
			<th>Submitted by</th>
		</tr>
		<% @tracks.each do |track| %>
   			<tr>
       			<td><%= track.title %></td>
       			<td><%= track.created_at %></td>
        		<td><%= track.user.name %></td>
   	  		</tr>  
   		<% end %>
   	</table>
</div>
